In [1]:
import pandas as pd

In [8]:
df=pd.read_csv('retailoniondata.csv',header=None)

In [11]:
df=df[df[0]>='2006-01-01']

In [13]:
df=df[df[1]==7]

In [15]:
df.drop_duplicates(subset=[0],keep='first',inplace=True)

/home/ictd/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
df

                 0  1     2
21548   2006-01-03  7  10.0
21549   2006-01-04  7  10.0
21550   2006-01-05  7  10.0
21551   2006-01-06  7  10.0
21552   2006-01-09  7  10.0
21627   2006-01-16  7  10.0
21628   2006-01-17  7  10.0
21629   2006-01-18  7  10.0
21630   2006-01-19  7  10.0
21631   2006-01-20  7  10.0
21708   2006-01-27  7   7.0
21709   2006-01-30  7   7.0
21710   2006-01-31  7   7.0
21711   2006-02-01  7   7.0
21712   2006-02-02  7   7.0
21785   2006-02-07  7   8.0
21786   2006-02-08  7   8.0
21787   2006-02-10  7   8.0
21789   2006-02-13  7   8.0
21790   2006-02-14  7   8.0
21865   2006-02-20  7  10.0
21866   2006-02-21  7  10.0
21867   2006-02-22  7  10.0
21868   2006-02-23  7  10.0
21869   2006-02-24  7  10.0
21942   2006-03-01  7   6.0
21943   2006-03-02  7   6.0
21944   2006-03-03  7   6.0
21945   2006-03-06  7   6.0
22019   2006-03-13  7   6.0
...            ... ..   ...
450881  2017-11-01  7   0.0
450882  2017-11-02  7  40.0
450883  2017-11-03  7  40.0
450884  2017-11-04  7   0.0
450885  2017-11-05  7   0.0
450886  2017-11-06  7   0.0
450887  2017-11-07  7  40.0
450888  2017-11-08  7  45.0
450889  2017-11-09  7  50.0
450890  2017-11-10  7  40.0
450891  2017-11-11  7  40.0
450892  2017-11-12  7   0.0
450893  2017-11-13  7  40.0
450894  2017-11-14  7  40.0
450895  2017-11-15  7  50.0
450896  2017-11-16  7  50.0
450897  2017-11-17  7  40.0
450898  2017-11-18  7  53.0
450899  2017-11-19  7   0.0
450900  2017-11-20  7  45.0
450901  2017-11-21  7  45.0
450902  2017-11-22  7  45.0
450903  2017-11-23  7  50.0
450904  2017-11-24  7  50.0
450905  2017-11-25  7  50.0
450906  2017-11-26  7   0.0
450907  2017-11-27  7  50.0
450908  2017-11-28  7  50.0
450909  2017-11-29  7  50.0
450910  2017-11-30  7  50.0

[4304 rows x 3 columns]