In [71]:
import pandas as pd
import numpy as np

In [72]:
years=[i for i in range(2005,2021,3)]

In [73]:
final = pd.DataFrame()

In [74]:
df=pd.read_csv('India - Maharashtra - Ahmednagar__Rainfall2005.csv')

In [75]:
df=df[df['Dekad']==1][['Year','Month','Rainfall (mm)']]

In [76]:
for year in years:
    df=pd.read_csv('India - Maharashtra - Ahmednagar__Rainfall'+str(year)+'.csv')
    df=df[df['Dekad']==1][['Year','Month','Rainfall (mm)']]
    final=final.append(df)
final.reset_index(inplace=True,drop=True)
final=final.replace(np.nan,0.0)

In [78]:
final.to_csv('ahmednagar_full.csv')

In [77]:
final

     Year  Month  Rainfall (mm)
0    2004      1          0.128
1    2004      2          0.061
2    2004      3          0.000
3    2004      4          1.201
4    2004      5          8.230
5    2004      6         38.709
6    2004      7         18.291
7    2004      8         44.085
8    2004      9         61.218
9    2004     10         23.612
10   2004     11         12.797
11   2004     12          1.052
12   2005      1          0.392
13   2005      2          0.079
14   2005      3          0.847
15   2005      4          0.437
16   2005      5          1.745
17   2005      6         14.085
18   2005      7         42.151
19   2005      8         44.759
20   2005      9        157.820
21   2005     10          3.671
22   2005     11          1.484
23   2005     12          1.169
24   2006      1          0.131
25   2006      2          0.061
26   2006      3          2.766
27   2006      4          0.466
28   2006      5          1.117
29   2006      6         30.471
..    ...    ...            ...
174  2018      7         46.151
175  2018      8          2.444
176  2018      9          7.187
177  2018     10          9.036
178  2018     11          8.669
179  2018     12          1.277
180  2019      1          0.131
181  2019      2          0.138
182  2019      3          0.000
183  2019      4          0.683
184  2019      5          0.698
185  2019      6         29.583
186  2019      7         35.563
187  2019      8         85.230
188  2019      9         40.162
189  2019     10         43.453
190  2019     11         17.451
191  2019     12          1.664
192  2020      1          0.203
193  2020      2          0.115
194  2020      3          0.000
195  2020      4          0.000
196  2020      5          0.000
197  2020      6          0.000
198  2020      7          0.000
199  2020      8          0.000
200  2020      9          0.000
201  2020     10          0.000
202  2020     11          0.000
203  2020     12          0.000

[204 rows x 3 columns]